.hero {
    text-align: left;
    margin-top: 70px;
}

.stack h2 {
    font-size: 2rem;
}

.layout-grid {
    grid-template-columns: 1fr;
    /* background-color: green; */
    /* gap: var(--space-2); */
}

@media (min-width: 700px) {
        .layout-grid {
        grid-template-columns: repeat(2, 1fr);
        /* grid-template-columns: 1fr 1fr 1fr; */
    }
}


.features {
    grid-template-columns: 1fr;
    /* grid-template-columns: repeat(3, 1fr); */
    /* background-color: red; */
    /* grid-template-columns: 1fr 1fr 1fr; */
}

@media (min-width: 600px) {
        .features {
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-columns: 1fr 1fr 1fr; */
    }
}



/* 
    min-width: 600 >>>> screen size of 600px and above should take the style in this media query

    max-width: 600 >>>> screen size of 600px and below should take the style in this media query
*/

.sidebar ul {
    margin: 0;
    padding-left: 1.1rem;
}

/* .sidebar li {
    margin: .3rem 0;
} */